body.light {
    --body-bg: rgb(44, 199, 238);
    --weather-bg: rgba(71, 187, 213, 0.649);
    --text-color: rgb(48, 48, 48);
    --display-bg: rgba(255, 255, 255, 0.756);
}
body.dark {
    --body-bg: rgb(22, 46, 86);
    --weather-bg: rgb(42, 63, 99);
    --text-color: rgb(217, 214, 214);
    --display-bg: rgba(255, 255, 255, 0.296);
}

body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 {
    width: 90%;
    background-color: var(--display-bg);
    /* box-shadow: 1px 5px 5px rgba(214, 211, 211, 0.738); */
    padding: 40px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* select box and button container */
.select-container {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    gap: 5px;
}
.dropdown, .weatherBtn {
    border: none;
    border-radius: 20px;
}
.dropdown {
    width: 60%;
    padding-left: 10px;
}
.weatherBtn {
    width: auto;
    background-color: white;
}
.weatherBtn:hover {
    cursor: pointer;
    background-color: var(--weather-bg);
    color: var(--text-color);
}

/* weather display container */
.display-container {
    width: 100%;
    max-width: 500px;
    /* height: 390px; */
    border-top: 1px solid var(--weather-bg);
    border-bottom: 1px solid var(--weather-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: var(--text-color);
}
.hidden {
    display: none;
}

/* location */
.location h1{
    font-weight: bold;
    margin: 5px;
    font-size: 30px;
}

/* weather details */
.display-2 {
    width: 80%;
    background-color: var(--weather-bg);
    border-radius: 30px;
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* icon and weather */
.icon-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.icon{
    width: 90px;
    height: 90px;
}
.weather{
    display: flex;
    align-items: center;
}
.weather h2{
    margin: 0;
    text-transform: uppercase;
}

/* temperatures */
.temperature h1{
    margin: 0;
    font-size: 45px;
}
.feels{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.feels small, p{
    margin: 0;
}
.feels p{
   font-size: 20px;
}

/* humidity and winds */
.display-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.display-3 small, h3{
    margin: 0;
}
.display-3 h3{
    font-size: 23px;
}
.humidity, .wind, .gust {
    width: 215px;
    border-radius: 30px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--weather-bg);
}

@media (min-width: 768px) {
    .dropdown {
        width: 50%;
    }
    .weatherBtn {
        width: 20%;
    }

}

@media (min-width: 1024px) {
    .select-container {
        width: 100%;
        gap: 10px;
    }
    .dropdown {
        width: 50%;
    }
    .weatherBtn {
        width: 20%;
    }
    .display-2 {
        gap: 0px;
    }
    .icon-weather-container {
        flex-direction: row;
        gap: 10px;
    }
    .feels{
        margin-top: 10px;
    }
    .display-3 {
        flex-direction: row;
    }
    .humidity, .wind, .gust {
        width: 120px;
    }
}